<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.url }}">
  <meta name="description" content="Ghast provides a minimal setup of styles for a fast and clean starting point. Specially designed for better performance and higher productivity with fewer properties to reset resulting in cleaner code.">
  <meta property="og:description" content="Ghast provides a minimal setup of styles for a fast and clean starting point. Specially designed for better performance and higher productivity with fewer properties to reset resulting in cleaner code.">
  <meta property="og:image" content="{{ site.url }}/assets/img/thumbnail.jpg">
  <meta property="og:locale" content="en">
  <meta property="og:site_name" content="Ghast | A terrifyingly simple CSS framework.">
  <meta property="og:title" content="Ghast | A terrifyingly simple CSS framework.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="article:published_time" content="2016-02-01T01:00:00Z">
  <meta property="article:author" content="Marc Boisvert">
  <meta property="article:section" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="Ghast | A terrifyingly simple CSS framework.">
  <meta name="twitter:url" content="{{ site.url }}">
  <meta name="twitter:site" content="{{ site.url }}">
  <meta name="twitter:creator" content="Marc Boisvert">
  <meta name="twitter:title" content="Ghast | A terrifyingly simple CSS framework.">
  <meta name="twitter:description" content="Ghast provides a minimal setup of styles for a fast and clean starting point. Specially designed for better performance and higher productivity with fewer properties to reset resulting in cleaner code.">
  <meta name="twitter:image:src" content="{{ "/assets/img/thumbnail.jpg" | prepend: site.baseurl | prepend: site.url }}">
  <title>Ghast | A terrifyingly simple CSS framework.</title>
  <link rel="canonical" href="{{ site.url }}">
  <link rel="image_src" href="{{ site.url }}/img/thumbnail.jpg">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/assets/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/assets/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/assets/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/assets/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/assets/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/img/favicon-16x16.png">
  <link rel="manifest" href="{{ site.url }}/assets/img/manifest.json">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/assets/img/ms-icon-144x144.png">
  <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

  <style>
    img {
    max-width: 100%;
    }
    .wrapper {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    }
    .docs-section {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .example .row, .example.row, .example form {
    margin-bottom: 0;
    }
    .example h1, .example h2, .example h3, .example h4, .example h5, .example h6 {
    margin-bottom: 1rem;
    }
    .footer .container {
    padding-bottom: 0;
    padding-top: 0;
    }
    .col-demo {
    background: #d1d1d1;
    display: block;
    text-align: center;
    border-radius: .4rem;
    font-size: 1rem;
    text-transform: uppercase;
    height: 3.0rem;
    line-height: 3.0rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    }
    .heading-font-size {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal;
    }
    .example {
    position: relative;
    margin-top: 4rem;
    }
    .example-header {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    }
    .example-description {
    margin-bottom: 1.5rem;
    }
    .example-screenshot-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: .6rem;
    border: .1rem solid #d1d1d1;
    height: 25.0rem;
    }
    .example-screenshot {
    width: 100%;
    height: auto;
    }
    .example-screenshot.coming-soon {
    width: auto;
    position: absolute;
    background: #d1d1d1;
    top: .5rem;
    right: .5rem;
    bottom: .5rem;
    left: .5rem;
    }
    .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none;
    }
    @media (min-width: 40.0rem) {
    .only-mobile {
      display: none;
    }
    }
    /* GitHub Theme */
    pre.prettyprint {
      overflow: auto;
      border: none !important;
      box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
      -webkit-font-smoothing: antialiased;
    }

    .pln {
      color: #333333;
    }

    @media screen {
      .str {
        color: #dd1144;
      }

      .kwd {
        color: #333333;
      }

      .com {
        color: #999988;
      }

      .typ {
        color: #445588;
      }

      .lit {
        color: #445588;
      }

      .pun {
        color: #333333;
      }

      .opn {
        color: #333333;
      }

      .clo {
        color: #333333;
      }

      .tag {
        color: navy;
      }

      .atn {
        color: teal;
      }

      .atv {
        color: #dd1144;
      }

      .dec {
        color: #333333;
      }

      .var {
        color: teal;
      }

      .fun {
        color: #990000;
      }
    }
    @media print, projection {
      .str {
        color: #006600;
      }

      .kwd {
        color: #006;
        font-weight: bold;
      }

      .com {
        color: #600;
        font-style: italic;
      }

      .typ {
        color: #404;
        font-weight: bold;
      }

      .lit {
        color: #004444;
      }

      .pun, .opn, .clo {
        color: #444400;
      }

      .tag {
        color: #006;
        font-weight: bold;
      }

      .atn {
        color: #440044;
      }

      .atv {
        color: #006600;
      }
    }
    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums {
      margin-top: 0;
      margin-bottom: 0;
    }

    /* IE indents via margin-left */
    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L4,
    li.L5,
    li.L6,
    li.L7,
    li.L8,
    li.L9 {
      /* */
    }

    /* Alternate shading for lines */
    li.L1,
    li.L3,
    li.L5,
    li.L7,
    li.L9 {
      /* */
    }

    .prettyprint li {
      margin-bottom: .3rem;
    }
</style>
</head>
