<header class="header">
  <div class="container">
    <div class="header-left">
      <span class="header-item">
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
      </span>
      <span class="header-item">
          <div class="dropdown">
            <a href="#!">Documentation</a>
            <ul id="myDropdown" class="dropdown-content">
              <li>
                <a href="{{ "/base/" | prepend: site.baseurl }}">Base</a>
              </li>
              <li>
                <a href="#">Components</a>
              </li>
              <li>
                <a href="#">Utilities</a>
              </li>
            </ul>
          </div>
      </span>
      <span class="header-item">
        <a href="http://ghast.xyz">Develop</a>
      </span>
      <span class="header-item">
        <a href="http://blog.voident.xyz/">Blog</a>
      </span>
    </div>
    <div class="header-right">
      <span class="header-item">
        <a href="http://ghast.xyz" class="btn btn-outline">Github</a>
      </span>
    </div>
  </div>
</header>
