---
layout: default
---
<section class="hero hero-sm">
  {% include navigation.html %}
  <div class="hero-content text-left">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
      <h2 class="subtitle description">
        {{ page.description }}
      </h2>
    </div>
  </div>
</section>

{{ content }}
